$primary-color: #d4d4d4;
$white: #fff;

$lighten: 5;
$darken: 25;

$colors: (
  primary: (
    base: $primary-color,
    light: lighten($primary-color, $lighten),
    dark: darken($primary-color, $darken),
  ),
  accent: (
    base: rgb(117, 60, 22),
  ),
  function: (
    info: rgb(72, 103, 206),
    warn: rgb(204, 183, 64),
    error: rgb(204, 64, 64),
  ),
  neutral: (
    base: #7f7f80,
    light: #d1d1d1,
    dark: #303030,
  ),
);

@function color($base, $shade: base) {
  $color: map-get(map-get($colors, $base), $shade);
  @return $color;
}
