@import "common-styles.scss";

.icon {
  display: flex;
  align-items: center;
  justify-items: center;
  height: fit-content;
  width: fit-content;

  &--secondary {
    color: color(neutral, light);
  }
  &--small {
    font-size: 1.3em;
  }
  &--big {
    font-size: 2em;
  }
  &--button {
    cursor: pointer;
    &:hover {
      color: color(neutral, dark);
    }
  }
}

:host {
  display: inline;
}
