<div class="skeleton-loader__text-container">
    <span class="skeleton-loader__text"></span>
    <span class="skeleton-loader__text"></span>
    <span class="skeleton-loader__text"></span>
</div>
<div class="skeleton-loader__text-container">
    <span class="skeleton-loader__text"></span>
    <span class="skeleton-loader__text"></span>
    <span class="skeleton-loader__text"></span>
</div>
<div class="skeleton-loader__text-container">
    <span class="skeleton-loader__text"></span>
    <span class="skeleton-loader__text"></span>
    <span class="skeleton-loader__text"></span>
</div>

