@import "common-styles.scss";

.header {
  height: $headerHeight;
  width: 100%;
  background-color: color(neutral, dark);
  color: color(neutral, light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
