@import "common-styles.scss";

.joke-list {
  position: relative;
  display: grid;
  gap: $defaultSpacing * 2;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  margin-bottom: $defaultSpacing * 2;

  &--empty {
    font-weight: bold;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
