<div class="joke">
  <div class="joke__container">
    <img
      [src]="joke?.iconUrl"
      onerror="this.src='/assets/images/chuck-norris.png';"
      class="joke__image"
    />
    <div class="joke__text-container">
      <span class="joke__quotation">“</span>
      <p class="joke__text">
        {{ joke?.value }}
      </p>
    </div>
  </div>

  <app-icon [outlined]="true" size="big" class="joke__add-favorite" 
  [ngClass]="{
    'add-favorite--added': joke?.isFavorite
  }"
  (click)="onToggleFavorite(joke)"
    >favorite</app-icon
  >
</div>
